body {
    background-color: white;
    background-image: url("../img/background.jpg");
    background-position: top;
    background-position: top;
   background-repeat: no-repeat;
  background-size: 1600px 455px;
  background-attachment: fixed;
  position: relative;

}

 .main
{
    padding: 60px 150px;
    font-weight: bold;
    font-family: auto;
    font-style: italic;
    color: #ece2e2;
    float:left;
}
.navbar {
   padding: 60px 0px;
  overflow: hidden;
  background-color: #;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4A79E7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 152px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  height: 150px;
  background-color: #bbb; 
  padding-left: 100px;
  padding-right: 100px;
  /* Should be removed. Only for demonstration */
}

.column1 {
  border: 0px solid black;
  margin-top: 70px;
  margin-bottom: 100px;
  margin-right: -10px;
  margin-left: -10px;
}
/* Clear floats after the columns */
p#losinfo {
font-size:30px;
}
p#losinfo span {
font-size:20px;
}

/* Float four columns side by side */
.column2 {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 20px;

}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.border {
  background-color: #F3EFFA;
   background-size:cover;
    background-origin: border-box;
      margin-top: -100px;
      margin-left: -10px;
      margin-right: -10px;

 
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4A66E7;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #C5ACEC;
   color: white;
   text-align: center;
}


